{% extends "admin_panel/admin_dashboard.html" %}

{% block content %}
<div class="app-main">
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-add-user icon-gradient bg-mean-fruit"></i>
                        </div>
                        <div>Add Institute</div>
                    </div>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form id="addInstituteForm" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id">ID:</label>
                            <input type="text" id="id" name="id" value="{{ institute.id }}" {% if disable_id %}disabled{% endif %} class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="location">Location:</label>
                            <input type="text" id="location" name="location" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="contact_number">Contact Number:</label>
                            <input type="text" id="contact_number" name="contact_number" required class="form-control" pattern="\d{10,}">
                            <div class="invalid-feedback">Please enter a valid contact number with at least 10 digits.</div>
                        </div>                        
                        <div class="form-group">
                            <label for="image">Image:</label>
                            <input type="file" id="image" name="image" accept="image/*" required class="form-control-file">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required class="form-control">
                        </div>
                        <button type="submit" class="mt-1 btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('addInstituteForm').addEventListener('submit', function (event) {
            var form = this;
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
                Swal.fire({
                    icon: 'error',
                    title: 'Validation Error',
                    text: 'Please fill out all fields.',
                    timer: 2000
                });
            }
            form.classList.add('was-validated');
        }, false);
    });
</script>
{% endblock content %}
